extends ../layout

block content
  .page-header
    h3 Sound server settings

    table.table.table-striped.table-bordered
      thead
        tr
          th Канал
          th Наличие
          th Статус
          th Громкость
          th Частота
          td Граница ВЧ
          td Граница НЧ
          th.hidden-xs Кодек
          th.hidden-xs Действие
      tbody
        for channel in channels
          tr
            form.form-horizontal(action='/soundserver/settings', method='POST')
              input(type='hidden', name='_csrf', value=_csrf)
              td
                input.form-control(type='text', name='id', id='id', value=channel.id, readonly="readonly")
              td
                input.form-control(type='checkbox', name='present', checked=(channel.present==='true' ? true : false), disabled)
              td
                input.form-control(type='checkbox', name='status', checked=(channel.status==='true' ? true : false))
              td
                input.form-control(type='text', name='volume', id='volume', placeholder='0', required, value=channel.volume)
              td
                select.form-control(id='frequency', name='frequency')
                  each frequency in ["44100","32000","22050","16000","11025","8000"]
                    option(value=frequency selected=(frequency===channel.frequency) ) #{frequency}
              td
                input.form-control(type='text', name='lowpass', id='lowpass', placeholder='0', required, value=channel.lowpass)
              td
                input.form-control(type='text', name='highpass', id='highpass', placeholder='0', required, value=channel.highpass)
              td
                select.form-control(id='codec' name='codec')
                  each codec in ["g722","g726","adpcm_ima_qt","adpcm_ima_wav","libgsm","libopus","pcm_alaw","pcm_mulaw,"pcm_s16le","pcm_s16le_planar","pcm_s8","pcm_s8_planar","pcm_u16le","pcm_u8","libspeex"]
                    option(value=codec selected=(codec===channel.codec) ) #{codec}
              td
                button.btn.btn-success(type='submit', placeholder='0') Сохранить
