extends ../layout

block content
  .page-header
    h3 Статус сервера

  .row
    table.table.table-striped.table-bordered
      thead
        tr
          th Параметр
          th Значение
      tbody
        for data in systemData
          tr
            td= data.name
            td= data.value

  .row
    table.table.table-striped.table-bordered
      thead
        tr
          th Канал
          th Наличие
          th Статус
          th Громкость
          th Частота
          th Фильтр
          th Граница ВЧ
          th Граница НЧ
          th.hidden-xs Кодек
      tbody
        for channel in channels
          tr
            td= channel.id
            td= channel.present
            td= channel.status
            td= channel.volume
            td= channel.frequency
            td= channel.filter
            td= channel.lowpass
            td= channel.highpass
            td.hidden-xs= channel.codec
