extends ../layout

block content
  .page-header
    h3 Sound server status

    table.table.table-striped.table-bordered
      thead
        tr
          th Канал
          th Наличие
          th Статус
          th Громкость
          th Частота
          td Граница ВЧ
          td Граница НЧ
          th.hidden-xs Кодек
      tbody
        for channel in channels
          tr
            td= channel.id
            td= channel.present
            td= channel.status
            td= channel.volume
            td= channel.frequency
            td= channel.lowpass
            td= channel.highpass
            td.hidden-xs= channel.codec
